.form-control:invalid {
    background-image: linear-gradient(to top, red 2px, rgba(244, 67, 54, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

/* i can use style this. 
input:invalid.ng-touched {
    border: red solid 1px;
} */

.invalid {
    color: red;
} 