<h2 mat-dialog-title>Add Product</h2>

<mat-dialog-content>
  <div class="modal-body">
    <form class="needs-validation" #addProductForm="ngForm" (ngSubmit)="createProduct(addProductForm)" >
      <div class="row">
        <div class="col-md-6 mb-3">

          <input type="text" class="form-control" id="productName" name="productName" 
          [(ngModel)]="product.productName" placeholder="Product Name" #productName="ngModel"
            value="" 
            required>
          <div class="invalid"
           *ngIf="addProductForm.productName.$valid">
            Valid first name is required.
          </div>
        </div>
        <div class="col-md-6 mb-3">

            <select class="form-control" name="" id="" (change)="filterCate($event.target.value)" >
              <option value="0">--Select Category--</option>
              <option *ngFor="let c of cate" value="{{ c.id}}">{{c.categoryName}}</option>
            </select>

        
        </div>
      </div>

      <div class="mb-3">

        <textarea type="text" class="form-control" id="productDescription" placeholder="Product Description" 
        name="productDescription"
          [(ngModel)]="product.productDescription"></textarea>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
         
          <input type="number" name="Price" class="form-control" 
          [(ngModel)]="product.Price" 
          #Price="ngModel"
          placeholder="Product Price"
            id="Price" value="" required>
            <div class="invalid"
            *ngIf="Price.errors && (Price.dirty || Price.touched)">
              Valid price is required.
            </div>
        </div>
      </div>
      <div class="mb-3">
        <div class="d-inline d-block">
          <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
          <img [src]="this.dbPath" style="width: 150px;" alt="{{dbPath}}">
        </div>
      
        <input type="text" class="form-control" id="productImageUrl" 
        [(ngModel)]="product.productImageUrl" name="productImageUrl"
          placeholder="Image Url" hidden>
      </div>

  

      <mat-dialog-actions>

        <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
        <button class="btn btn-primary btn-block" 
        mat-raised-button id="modal-action-button" 
        [disabled]="!addProductForm.valid"
       >Add Product</button>
        <!-- <button mat-button [mat-dialog-close]="true" class="btn btn-primary btn-lg btn-block" type="submit" (ngSubmit)="createProduct(addProductForm)">Add Product</button> -->
        <button mat-button class="btn-block" (click)="closeModal()">No Thanks</button>
      </mat-dialog-actions>
      
      
      
    </form>
  </div>

</mat-dialog-content>


