<br>
<div class="container">
  <div class="row" *ngIf="authService.isAdmin()">
    <div class="col-sm">

      <div class="float-right">
        <button class="ml-auto btn btn-danger" (click)="ShowProduct(product)"><i class="fa fa-plus" aria-hidden="true"></i> Add Product</button>

        <button class="btn btn-primary" [routerLink]="['/products/cart-items']">Show Cart</button>
      </div>
    </div>
            <!-- From for add edit delete-->
            <form #regForm="ngForm">  
              <div class="container" *ngIf="editCustomer">  
                <h3>{{FormHeader}}</h3>  
                <table class="table table-condensed">  
                  <tbody>  
                    <tr>  
                      <td> Product Name</td>  
                      <td><input type="text" 
                        name="productName" 
                        [(ngModel)]='productName'

                        required >
                        <div class="invalid"
                        *ngIf="productName.errors && (productName.dirty || productName.touched)">
                         Valid first name is required.
                       </div>
                      </td>  
                    </tr>  
                    <tr>  
                      <td> Price</td>  
                      <td><input type="number" name="price" [(ngModel)]='price' required></td>  
                    </tr>  
                    <tr>  
                        <td> Product Description</td>  
                        <td><input type="textarea" name="productDescription" [(ngModel)]='productDescription'></td>  
                    </tr>  
                    <tr>  
                        <td> Image</td>  
                        <td> 
                          <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
                          <img *ngIf="this.dbpath" [src]="this.dbPath" style="width: 150px;" alt="{{dbPath}}">
                        
                          <input type="text" class="form-control"
                          [(ngModel)]="imageUrl" name="imageUrl"
                            placeholder="Image Url" hidden>

                        </td>  
                    </tr> 
                    <tr>  
                      <td> Category</td>  
                      <td> 
                        <select name="categoryName" (change)="filterCate($event.target.value)" [(ngModel)]="categoryName" >
                        <option value="0">--Select Category--</option>
                        <option *ngFor="let c of cate" value="{{ c.id}}">{{c.categoryName}}</option>
                      </select>
                    </td>  
                  </tr> 
                    <tr>  
                        <td> Rate</td>  
                        <td><input type="number" name="rate" [(ngModel)]='rate'></td>  
                    </tr> 
                    <tr>  
                      <td> Favourite</td>  
                      <td><input [(ngModel)]="favourite" name="favourite" type="checkbox"/></td>  
                  </tr> 
 
                    <tr>  
                      <td><input type="hidden" name="id" [(ngModel)]='id'></td> 
                      <td><input type="hidden" name="cateId" [(ngModel)]='cateId'></td>  
    
                      <td><input type="submit" value="Save" (click)="Save(regForm)"></td>  
                    </tr>  
                  </tbody>  
                </table>  
               </div>  
            </form>  
  </div>
  <div class="row">

    <div class="col-md-12">

      <div class="container">
       
        <div class="row" *ngIf="loading">
          <!-- List of Products -->
          <div class="col-sm-4 mb-2" *ngFor="let product of productList"> 
            <div class="item">
              <div class=" mb-r">
                <!--Card-->
                <div class="card card-cascade wider">
                  <!--Card image-->
                  <a [routerLink]="['/products', product.id]">
                    <div class="view overlay hm-white-slight">
                      <img [src]="product?.imageUrl" onerror="this.src='.../../../../../../assets/img/tim_80x80.png';"
                       
                       class="img-fluid" alt="" width="360px" height="640px">
                      <a>
                        <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                      </a>
                    </div>
                  </a>
                  <!--/.Card image-->
                  <!--Card content-->
                  <div class="card-body text-center no-padding">
                    <!--Category & Title-->
                    <a class="text-muted">
                      <h5>{{ product.productName }}</h5>
                    </a>
                    
                    <p class="card-title">
                      <strong>
                        <a [routerLink]="['/products', product.id]" routerLinkActive="router-link-active">{{
                          product.CategoryName }}</a>
                      </strong>
                    </p>
                    <!--Description-->
                    <p class="card-text">{{ product.productDescription }}
                    </p>
                    <div class="row" *ngIf="authService.isAdmin()">
                      <div class="col-sm">
                        <div class="float-right">
                          <button class="ml-auto btn btn-danger" (click)="ShowProduct(product)"><i class="fa fa-plus" aria-hidden="true"></i> UPdate Product</button>
                          <button class="ml-auto btn btn-danger" (click)="ShowDelProduct(product)"><i class="fa fa-remove" aria-hidden="true"></i> Delete Product</button>
                        </div>
                      </div>
                    </div>
                    <!--Card footer-->
                    <div class="card-footer">
                      <span class="left">$ {{ product.price }}</span>
                      <span class="right">
                        <a placement="top" mdbTooltip="Add to Wishlist"  container="body" (click)="addFavourite(product)">
                          <i class="fa fa-heart mr-1"> {{product.favourite }} </i>
                        </a>
                        <a placement="top" mdbTooltip="Add to Cart" container="body" (click)="addToCart(product)">
                          <i class="fa fa-shopping-cart mr-1"> </i>
                        </a> 

                        <a placement="top" mdbTooltip="Remove Product" container="body" *ngIf="authService.isLoggedIn()"
                          (click)="removeProduct(product.id)">
                          <i class="fa fa-trash"> </i>
                        </a>
                      </span>
                    </div>

                  </div>
                  <!--/.Card content-->

                </div>
                <!--/.Card-->




              </div>
            </div>
          </div>
        </div>
        <app-pagination
        (goPage)="goToPage($event)"
        (goPrev)="goToPrevious()"
        (goNext)="goToNext()"
        [page]="page"
        [perPage]="limit"
        [count]="total">
        </app-pagination>



    </div>
  </div>
</div>
