// initial *, html, body
*
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// html{
//     font-size: 62.5%;
// }


body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777777;
    padding: 3rem;
    box-sizing: border-box;
}