<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <ul class="list-group">
        <li class="list-group-item hoverable">
          <a [routerLink]="['/products']">all products</a>
        </li>
       
      </ul>
    </div>
    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
