<div class="container-fluid">
    <button class="btn btn-danger" (click)="getCustomer()">Get Customer</button>

    <button class= "btn btn-primary" [routerLink]="[ '/dashboard']"> Goto Dashboard</button>
    
    
    <button class="btn btn-dark" (click)="logOut()">Logout</button>
    <button class="btn btn-success" [routerLink]="[ '/login']">login</button>
    
    {{customer | json}}

    <header class="header border border-warning d-flex justify-content-center">
        <div class="logo-box">
            <img src="../../assets/img/logooutline.png" class="logo" alt="">
        </div>

        <div class="header__text-box">
            <div class="header-primary">
                <h1 class="main-text display-3"> FIND ME - PHAT NGUYEN ON UPWORK.COM</h1>
                <h3 class="sub-text">I REALLY SERVICE YOU</h3>
            </div>
            <a class="btn btn--white btn--animated" target=”_blank” href="https://www.upwork.com/freelancers/~010604e42843d97fb6?viewMode=1">See my profile on upwork</a>
           
        </div>

    </header>

    <div class="section-about">
        <h2 class="heading-secondary">About Me</h2>
    </div>
    
    <div class="row">
        <div class="col-6">
            <h3>My skills: Angular, Boostrap, HTML5, CSS3, ASP.NET CORE, Laravel framework</h3>
            <p class="paragraph">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate possimus laborum soluta sequi quae numquam quasi unde delectus qui, cum beatae suscipit ad, quod sapiente cumque a necessitatibus reprehenderit aut.
            </p>
            <a href="http://" target="_blank" rel="noopener noreferrer" class="btn-text active">More...</a>
        </div>

        <div class="col-6">
            <div class="composition">
                <img src="../../assets/img/gears.gif" alt="" class="composition__photo composition__photo--p1">
            </div>
            <div class="composition">
                <img src="../../assets/img/angular2-logo-red.png" alt="" class="composition__photo composition__photo--p2">
            </div>
            <div class="composition">
                <img src="../../assets/img/apple-icon.png" alt="" class="composition__photo composition__photo--p3">
            </div>
        </div>
    </div>


</div>
