.section-about {
    // background-color: gray;
    padding-top: 20rem;
    margin-top: -20rem;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    // color: transparent;
    // -webkit-background-clip: text;

    .heading-secondary {
        color: $color-white;
        font-size: 3.5rem;
        display: inline-block;
        cursor: pointer;
        text-transform: uppercase;
        padding-left: 3rem;
        transition: all .2s; // for animation is smood


        &:hover {
            transform: skewY(-10deg) scale(1);
            text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
        }
    }
}

.btn-text {
    &:link,
    &:visited {
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: .3rem;
        font-size: $default-font-size;
    }
    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        transform: translateY(-.2rem);
        transition: all .2s;
        border-radius: round($number: .5rem);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}

.composition {
    position: relative;

    &__photo {
        width: 50%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: .2rem;
        position: absolute;
        z-index: 10;

        &--p1 {
            left: 0;
            top: -2rem;
        }
        &--p2 {
            right: 2rem;
            top: 2rem;
        }
        &--p3 {
            left: 10%;
            top: 10rem;
        }

        &:hover {
            outline: 1rem solid $color-primary;
            outline-offset: .5rem;;
            transform: scale(1);
            box-shadow: 9 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
            transition: all .2s;
        }
        // &:hover &__photo:not(:hover){
        //     transform: scale(.9);
        // }
    }
   
}