.btn {
    &:link, 
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        border-radius: 10rem;
        font-size: 1rem;
        position: relative;
        transition: all .2s;
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 10rem;
        transition: all .4s;
    }
    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 .5rem 2rem rgba($color: $color-primary-dark, $alpha: .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        outline: none;
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color: $color-primary-dark, $alpha: .2);
    }

    &--white {
        // z-index: 1;
        color: $color-grey;
        background-color: $color-white;
        
        &::after {
            background-color: $color-white;
        }
    }
    
    &--animated {
        animation: moveInBottom .5s ease-out;
        animation-fill-mode: both;
    }

}
