<div class="container-fluid">
    <form [formGroup]="formFoodItem" formFoodItem (ngSubmit) = "submitFoodItem()" >
      <input type="text" class="form-control" formControlName="FoodId" [(ngModel)]="formFoodItem.FoodId" hidden>
        <div class="form-group">
            <label for="">Food Item</label>
            <select class="form-control" formControlName="Name" [(ngModel)]="formFoodItem.Name">
              <option >{{ formFoodItem.Name }}</option>
            </select>
          </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                  <label for="">Price</label>
                  <input type="text" class="form-control" formControlName="Price" [(ngModel)]="formFoodItem.Price" readonly>

                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                  <label for="">Quanlity</label>
                  <input type="text" class="form-control" formControlName="Quantity" [(ngModel)]="formFoodItem.Quantity" (keypress)="numberOnly($event)">
                </div>
            </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label for="">Total</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="">$</span>
                </div>
                <input type="text" class="form-control" formControlName="Total" [(ngModel)]="formFoodItem.Total" readonly>
              </div>
          </div>
        </div>
        <div class="form-group d-flex">
            <button class="btn btn-primary mr-2" type="submit" [disabled]="!formFoodItem.valid" (click)="submitDialog(formFoodItem)"><i class="fa fa-shopping-cart"></i> Submit</button>
            <p>
                real-time data: {{ formFoodItem.value | json }}
            </p>
            
        </div>
    </form>
   
</div>



