<div class="food-order clearfix container-fluid w-75">

        <div class="text-danger mt-4" style="text-align: center;">
            <h1 class="ml-3">Food Order</h1>
        </div>

        <form #form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="">OrderNo</label>
                <div class="input-group">
                    <input class="form-control" name="orderNo" [(ngModel)]="orderService.Formdata.orderNo" readonly>

                </div>
              </div>
              <div class="form-group col-md-6">
                <div class="form-group">
                  <label for="">Register Customer</label>
                  <select class="form-control" #Customer>
                    <option *ngFor="let item of customerList" [value]="item.customerId">{{item.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="">Payment Method</label>
                    <select class="form-control" name="Payment" id="Payment">
                      <option selected>Cash</option>
                      <option>Card</option>
                    </select>
                  </div>

                  <div class="form-group col-md-6">
                    <label for="">Total Amount</label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="">$</span>
                      </div>
                      <input name="totalAmount" [(ngModel)]="orderService.Formdata.totalAmount" class="form-control" placeholder="" readonly>
                    </div>
                  </div>
            </div>

            <div class="form-row ">
              <div class="form-group col-md-12 d-flex">
                    <button class="btn btn-info mr-2" (click)="getOrder()"><i class="fa fa-shopping-cart"></i> Submit</button>
                    <button class="btn btn-outline-dark" routerLink="/orders"><i class="fa fa-table" aria-hidden="true"></i> View Order</button>
                    <button class="ml-auto btn btn-danger" (click)="openModal()"><i class="fa fa-plus" aria-hidden="true"></i> Add Item</button>
                </div>
            </div>

          </form>
          <div class="container">
            <table class="table">
              <thead>
                <tr>
                  <th>OrderNo</th>
                  <th>Payment</th>
                  <th>TotalAmount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of orders">
                  <td scope="row">{{ order.orderNo }}</td>
                  <td>{{ order.payment }}</td>
                  <td>{{ order.totalAmount }}</td>
                </tr>
               
              </tbody>
            </table>
          </div>
        

</div>
