.header {
    background-image: linear-gradient(to right bottom, 
        rgba($color-primary-light, .7), rgba($color-primary-dark, .7)), 
        url('./assets/img/background1.jpg');
    background-size: cover;
    height: 95vh;
    position: relative; 
    clip-path: polygon(0 0, 100% 0, 100% 68%, 0% 100%);
    
    .logo-box {
        position: absolute;
        top: 3rem;
        left: 3rem;
        .logo {
            height: 7rem;
        }
    } 
    // tex-box lign center
    &__text-box {
        color: $color-white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

}

.header-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 4rem;

    .main-text {
        display: block;
        animation: moveInLeft 1s ease-out;
    }

    .sub-text {
        display: block;
        animation: moveInRight 1s ease-out;
    }
}