<div class="container">
    <h3>list product cart of customer</h3>
  <ul class="list-group mb-3">

      <hr>
      <li class="list-group-item d-flex justify-content-between ">
          <span>Total (INR)</span>
          <strong>₹ {{totalPrice}}</strong>
      </li>

  </ul>
  <div class="float-right">
      <a class="btn btn-default " [routerLink]="['/products/checkouts/shipping-details']" routerLinkActive="active">Next</a>
  </div>

</div>